@import "tailwindcss";

.row-3-KWvY.margin-bottom-dB41Lp.svelte-10yh6ws {
    margin-bottom: 0 !important;
}

.svelte-734qla {
    background-color: rgb(244, 244, 244) !important;
    box-shadow: 0 0 10px 0 rgb(212, 212, 212);
}
